<div class="tab-pane fade table-container" id="type_events_table" role="tabpanel" aria-labelledby="type_events-tab">
    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#TypeEventModal" id='addtypeevent'>Добавить новую запись</button>

                <table id="typeeventTable" class="table mt-3  mx-auto">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Тип Мероприятия</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for type_events in typeevents %}
                        <tr>
                            <td>{{ type_events.id }}</td>
                            <td>{{ type_events.name_type_events}}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" id="edittypeevent" data-id="{{ type_events.id }}"><i class="fas fa-edit"></i></button>
                            </td>

                            <td>
                                <button class="btn btn-danger open-delete-modal" data-bs-toggle="modal" data-bs-target="#deleteTypeEventModal" data-id="{{ type_events.id }}" id="deleteTypeEvent"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

        </div>
