<div class="tab-pane fade table-container" id="scientificdirections" role="tabpanel" aria-labelledby="scientificdirections-tab">
    <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#ScientificDirectionsModal" id="addscientificdirections">Добавить новую запись</button>


        <table id="scientificdirectionsTable" class="table mt-3 mx-auto">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Научное направление</th>
                    <th>Название научной школы</th>
                    <th>Ведущие ученые в данной области(1-3 человека)</th>
                    <th>Кол-во защищенных докторских диссертаций</th>
                    <th>Кол-во защищенных кандидатских диссертаций</th>
                    <th>Кол-во монографий</th>
                    <th>Кол-во статей WoS/Scopus</th>
                    <th>Кол-во статей ВАК</th>
                    <th>Кол-во статей РИНЦ</th>
                    <th>Кол-во заявок на изобретения</th>
                    <th>Кол-во полученных охранных документов</th>
                    <th>Кол-во организованных международных и (или) всероссийских научных и (или) научно-практических мероприятий</th>
                    <th>Объем финансирования научных исследований (в тыс. рублей): фундаментальных, прикладных, разработок</th>
                    <th>Статус</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for scientificdirections in scientificdirectionss %}
                <tr>
                    <td>{{ scientificdirections.id }}</td>
                    <td>{{ scientificdirections.name_scientific_direction }}</td>
                    <td>{{ scientificdirections.name_scientific_school }}</td>
                    <td>{{ scientificdirections.leading_scientists }}</td>
                    <td>{{ scientificdirections.number_defended_doctoral_dissertations }}</td>
                    <td>{{ scientificdirections.number_defended_PhD_theses }}</td>
                    <td>{{ scientificdirections.number_monographs }}</td>
                    <td>{{ scientificdirections.number_articles_WoS_Scopus }}</td>
                    <td>{{ scientificdirections.number_articles_VAK }}</td>
                    <td>{{ scientificdirections.number_articles_RIHC }} </td>
                    <td>{{ escientificdirectionsvent.number_applications_inventions }}</td>
                    <td>{{ scientificdirections.number_security_documents_received }}</td>
                    <td>{{ scientificdirections.number_organized }}</td>
                    <td>{{ scientificdirections.amount_funding }}</td>

                    <td>{{ scientificdirections.get_status_display }}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" id="editscientificdirections" data-id="{{ scientificdirections.id }}"><i class="fas fa-edit"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-danger open-delete-modal" data-bs-toggle="modal" data-bs-target="#deleteScientificDirectionsModal" data-id="{{ scientificdirections.id }}" id="deleteScientificDirections"> <i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
