<div class="modal fade" id="deleteFormParticipationModal" tabindex="-1" aria-labelledby="deleteFormParticipationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFormParticipationModalLabel">Подтвердите удаление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Х</button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить эту запись?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteFormParticipationBtn" >Удалить</button>
            </div>
        </div>
    </div>
</div>
