
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css\bootstrap.min.css'%}" rel="stylesheet">
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> {% endcomment %}

    <link rel="stylesheet" href="{% static 'css\bootstrap.min (1).css' %}">
    <link rel="stylesheet" href="{% static 'css\all.min.css' %}">
    <link href="{% static 'css\bootstrap.min (2).css' %}" rel="stylesheet" integrity="sha384-Lb5+3gV7N/tZ5FOC2CT4pj/R+qQI9UxF8+eGnH6D5/E5J7mX5UAKWvaGADddSLdT" crossorigin="anonymous">
    <link href="{% static 'css\select2.min.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css\bootstrap.min (3).css' %}">
    <!-- Подключение jQuery и Popper.js (Bootstrap зависит от них) -->





    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Карта сведений гос. отчетности</a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                {% if user_full_name %}
                    <li class="nav-item">
                        <span class="navbar-text font-weight-bold text-primary">
                             {{ user_full_name }}
                        </span>
                    </li>
                    <li class="nav-item">
                        <form method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" name="logout" class="btn btn-outline-danger ml-2" value=True>Выход</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Вход</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock %}






<script src="{% static 'js\bootstrap\popper.min (3).js'%}"></script>
<script src="{% static 'js\bootstrap\jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'js\bootstrap\bootstrap.bundle.min (1).js'%}"></script>
<script src="{% static 'js\bootstrap\bootstrap.bundle.min.js'%}" integrity="sha384-x+eEIZ2nTwK3GA4tF7cYFyWX2JB3ezX/5JJ7nwsfvsGwe1jxerFRTAPL9IqLaGKZ" crossorigin="anonymous"></script>
{% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> {% endcomment %}
<script src="{% static 'js\bootstrap\popper.min (2).js'%}"></script>
<script src="{% static 'js\bootstrap\bootstrap.min (2).js'%}"></script>
<script src="{% static 'js\bootstrap\popper.min (1).js'%}"></script>
<!-- Подключение jQuery -->
{% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> {% endcomment %}
<!-- Подключение select2 -->
<script src="{% static 'js\bootstrap\select2.min.js'%}"></script>

<script src="{% static 'js\bootstrap\popper.min.js'%}"></script>
<!-- Подключение Bootstrap JavaScript -->
<script src="{% static 'js\bootstrap\bootstrap.min (1).js'%}"></script>

<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>


<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/select.js' %}"></script>

<script src="{% static 'js/publication.js' %}"></script>
<script src="{% static 'js/securitydocuments.js' %}"></script>
<script src="{% static 'js/monograph.js' %}"></script>
<script src="{% static 'js/event.js' %}"></script>
<script src="{% static 'js/grant.js' %}"></script>
<script src="{% static 'js/nirs.js' %}"></script>
<script src="{% static 'js/popular_science_publications.js' %}"></script>
<script src="{% static 'js/scientific_directions.js' %}"></script>
<script src="{% static 'js/international_cooperation.js' %}"></script>
<script src="{% static 'js/type_publications.js' %}"></script>
<script src="{% static 'js/type_documents.js' %}"></script>
<script src="{% static 'js/type_property.js' %}"></script>
<script src="{% static 'js/type_monographs.js' %}"></script>
<script src="{% static 'js/type_participation.js' %}"></script>
<script src="{% static 'js/type_events.js' %}"></script>
<script src="{% static 'js/type_level.js' %}"></script>
<script src="{% static 'js/type_grant.js' %}"></script>
<script src="{% static 'js/form_participation.js' %}"></script>






</body>
</html>
