{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="btn btn-primary mb-4"><i class="fas fa-arrow-left"></i>Назад
        </a>
        <div class="card">
                {% comment %} <div class="card-header">
                    Карточка клиента

                </div> {% endcomment %}
            <div class="card-body">
                <div class="row">

                    <div class="col-md-6 text-left">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <strong>Год:</strong>
                            </div>
                            <div class="col-sm-8"><span class="text-muted">{{ map.year }}</span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4"><strong>Квартал:</strong>
                            </div>
                            <div class="col-sm-8"><span class="text-muted">{{ map.quarter }}</span></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4"><strong>Кафедра:</strong></div>
                            <div class="col-sm-8"><span class="text-muted">{{ map.department }}</span></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4"><strong>Комментарий:</strong></div>
                            <div class="col-sm-8"><span class="text-muted">{{ map.comment }}</span></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4"><strong>Ответственный:</strong></div>
                            <div class="col-sm-8"><span class="text-muted">{{ map.responsible }}</span></div>
                        </div>
                        {% if status == "True" %}
                        <a href="{% url 'map_completed' map.id %}" class="btn btn-primary btn-sm">Завершить редактирование</a>
                        {% endif %}
                        {% if map.status == "Завершено" %}
                        <a href="{% url 'map_return' map.id %}" class="btn btn-primary btn-sm">Вернуть в работу</a>
                        {% endif %}

                    </div>




                </div>

            </div>

        </div>


        <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="publications-tab" data-toggle="tab"data-bs-toggle="tab" href="#tab1" data-bs-target="#publications" type="button" role="tab" aria-controls="publications" aria-selected="true" >Публикации</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="securitydocuments-tab" data-toggle="tab"data-bs-toggle="tab" href="#tab2" data-bs-target="#securitydocuments" type="button" role="tab" aria-controls="securitydocuments" aria-selected="true" >Охранные документы</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="monographs-tab" data-toggle="tab"data-bs-toggle="tab" href="#tab3" data-bs-target="#monographs" type="button" role="tab" aria-controls="monographs" aria-selected="true" >Монографии, УП</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="grant-tab" data-toggle="tab"data-bs-toggle="tab" href="#tab4" data-bs-target="#grant" type="button" role="tab" aria-controls="grant" aria-selected="true" >Грант</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="event-tab" data-toggle="tab"data-bs-toggle="tab" href="#tab5" data-bs-target="#event" type="button" role="tab" aria-controls="event" aria-selected="true" >Мероприятия</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nirs-tab" data-toggle="tab"data-bs-toggle="tab" href="#tab6" data-bs-target="#nirs" type="button" role="tab" aria-controls="nirs" aria-selected="true" >НИРС</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="popularsciencepublications-tab" data-toggle="tab"data-bs-toggle="tab" href="#tab7" data-bs-target="#popularsciencepublications" type="button" role="tab" aria-controls="popularsciencepublications" aria-selected="true" >Научно-популярные издания</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="scientificdirections-tab" data-toggle="tab"data-bs-toggle="tab" href="#tab8" data-bs-target="#scientificdirections" type="button" role="tab" aria-controls="scientificdirections" aria-selected="true" >Научные направления</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="internationalcooperation-tab" data-toggle="tab"data-bs-toggle="tab" href="#tab9" data-bs-target="#internationalcooperation" type="button" role="tab" aria-controls="internationalcooperation" aria-selected="true" >Международное сотрудничество </button>
                </li>
        </ul>

        <div class="tab-content">
           {% include "table/table_publication.html" %}
           {% include "table/table_security_documents.html" %}
           {% include "table/table_monographs.html"%}
           {% include 'table/table_event.html'%}
           {% include 'table/table_grant.html'%}
           {% include 'table/table_nirs.html'%}
           {% include 'table/table_popular_science_publications.html'%}
           {% include 'table/table_scientific_directions.html'%}
           {% include 'table/table_international_cooperations.html'%}
        </div>


    {% include "modal/modal_publication.html" %}
    {% include "modal/modal_security_documents.html" %}
    {% include "modal/modal_monographs.html" %}
    {% include "modal/modal_event.html" %}
    {% include "modal/modal_grant.html" %}
    {% include "modal/modal_nirs.html" %}
    {% include "modal/modal_popular_science_publications.html" %}
    {% include "modal/modal_scientific_directions.html" %}
    {% include "modal/modal_international_cooperation.html" %}




    {% include "modal_delete/delete_publication.html"%}
    {% include "modal_delete/delete_monographs.html"%}
    {% include "modal_delete/delete_security_documents.html"%}
    {% include "modal_delete/delete_event.html"%}
    {% include "modal_delete/delete_grant.html"%}
    {% include "modal_delete/delete_nirs.html"%}
    {% include "modal_delete/delete_popular_science_publications.html"%}
    {% include "modal_delete/delete_scientific_directions.html"%}
    {% include "modal_delete/delete_international_cooperation.html"%}










{% endblock %}
